body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    
    padding: 15px;
    background-color:darkseagreen;
    color: white;
}

.logo{
    width: 100px;
    height: 100px;
}

.top-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.nav-lists {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin-top: 10px;
}

.hero{
    text-align: center;
    padding: 50px;
}

.hero button {
    padding: 10px 20px;
    margin-top: 10px;
}

.features{
    padding: 40px;
    text-align: center;
}